h2 Agent
ul#groups

script
   $(document).ready(function(){
      now.receiveMessage = function(name, message, groupname){
        $("#"+groupname+" .messages").append("<br>" + name + ": " + message);
        if(!$('#'+groupname+':visible').length){
          $('.'+groupname).css('color','green');
        }
      }
      now.setGroups = function(groups){
        $("#groups").html(function(){
          var r = ''
          var i = groups.length;
          for(i;i>0;--i){
             r = r + "<li class='"+groups[i]+"'>"+groups[i]+"</li>";
          }
          return r;
        });
      }
      $("#groups li").live('click',function(){
        title = $(this).html();
        var a = $('#'+title);
        if(a.length < 1){
          now.joinGroup(title)
          $('body').append('<div id="'+title+'"></div>').find('#'+title).append('<div class="messages"><input class="text-input" type="text"><input class="send-button" type="button" value="send"></div>').dialog();
        }else{
          a.dialog('open');
          $('.'+title).css('color','')
        }
      });
      $(".send-button").live('click', function(){
        button = $(this);
        text = button.prev();
        group = button.parent().parent().attr('id');
        now.distributeMessage(text.val(),group);
        text.val("");
        text.focus();
      });
      now.name = prompt("What's your name?", "");
    });
