!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/overcast/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js");
    script(src='/nowjs/now.js')
  body!= body