body{
	margin:0;
	padding:0;
	background-color:#dddddd;
	color:#666;
}
.wrapper{
	border:1px solid #ccc;
	background-color:#f8f8f8;
	width:600px;
	margin:0 auto;
}
header{
	text-align:center;
	margin:0;
	border-bottom:1px solid #e8e8e8
}
section,header,footer{
	padding:10px;
}
section{
	min-height:500px;
}
footer{
	height:75px;
	border-top:1px solid #e8e8e8
}